BasedOnStyle: Google
SortIncludes: false
ColumnLimit: 0
AllowShortFunctionsOnASingleLine: All
IndentWidth: 4
NamespaceIndentation: All
AlignAfterOpenBracket: DontAlign
IndentPPDirectives: BeforeHash
Cpp11BracedListStyle: true